<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.rikka.savecopy">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/save_a_copy"
        android:requestLegacyExternalStorage="@bool/config_requestLegacyExternalStorage"
        android:supportsRtl="true"
        tools:ignore="AllowBackup"
        tools:targetApi="q">
        <activity
            android:name=".InfoActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/AppTheme.Dialog.Alert">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.INFO" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/AppTheme.Dialog.Alert">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SaveActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data
                    android:mimeType="application/*"
                    android:scheme="content" />
                <data
                    android:mimeType="audio/*"
                    android:scheme="content" />
                <data
                    android:mimeType="font/*"
                    android:scheme="content" />
                <data
                    android:mimeType="image/*"
                    android:scheme="content" />
                <data
                    android:mimeType="model/*"
                    android:scheme="content" />
                <data
                    android:mimeType="text/*"
                    android:scheme="content" />
                <data
                    android:mimeType="video/*"
                    android:scheme="content" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".SaveService" />
    </application>

</manifest>
